* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.wrapper{
    margin: auto;
}
.wrapper__container {
  background-image: -webkit-gradient(
      linear,
      left top, left bottom,
      from(rgba(243, 129, 129, 0.9)),
      to(rgba(252, 227, 138, 0.9))
    ),
    url(../img/bg-top-min.png);
  background-image: -webkit-linear-gradient(
      rgba(243, 129, 129, 0.9),
      rgba(252, 227, 138, 0.9)
    ),
    url(../img/bg-top-min.png);
  background-image: -o-linear-gradient(
      rgba(243, 129, 129, 0.9),
      rgba(252, 227, 138, 0.9)
    ),
    url(../img/bg-top-min.png);
  background-image: linear-gradient(
      rgba(243, 129, 129, 0.9),
      rgba(252, 227, 138, 0.9)
    ),
    url(../img/bg-top-min.png);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 28px;
}
.container {
  width: 1200px;
  margin: auto;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 165px;
}
.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  line-height: 21px;
  cursor: pointer;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}
.nav__link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  line-height: 21px;
  position: relative;
}
.nav__link::after {
  position: absolute;
  content: "";
  background: #fce38a;
  bottom: -5px;
  left: 50%;
  right: 50%;
  width: 0;
  height: 2px;
  transition: 0.2s;
}
.nav__link:hover::after{
  width: 100%;
  left: 0;
  right: 0;
}
.nav__link--icon{
  fill: #fff;
}
.nav__link--icon:hover{
  -webkit-box-shadow: 0 3px 0 #fce38a;
          box-shadow: 0 3px 0 #fce38a;
  -webkit-transition-duration: 200ms;
       -o-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  fill: #fce38a;
}
.container__caption{
    text-align: center;
}
.caption__upper__text{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    margin-bottom:42px;
    color: #fff;
}
.caption{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 150px;
    color: #fff;
    text-transform: uppercase;
    width: 65%;
    margin: auto;
    margin-bottom: 125px;
}
.header__button{
    width: 160px;
    height: 40px;
    border:3px solid #fff;
    background: transparent;
    margin-bottom: 230px;
}
.header__button--link{
    display: block;
    font-family:"Montserrat", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    line-height: 11px;

}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .wrapper_container {
    background-image: -webkit-gradient(
        linear,
        left top, left bottom,
        from(rgba(243, 129, 129, 0.9)),
        to(rgba(252, 227, 138, 0.9))
      ),
      url(../img/bg-top@2x-min.png);
    background-image: -webkit-linear-gradient(
        rgba(243, 129, 129, 0.9),
        rgba(252, 227, 138, 0.9)
      ),
      url(../img/bg-top@2x-min.png);
    background-image: -o-linear-gradient(
        rgba(243, 129, 129, 0.9),
        rgba(252, 227, 138, 0.9)
      ),
      url(../img/bg-top@2x-min.png);
    background-image: linear-gradient(
        rgba(243, 129, 129, 0.9),
        rgba(252, 227, 138, 0.9)
      ),
      url(../img/bg-top@2x-min.png);
  }
}
