* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.wrapper{
    margin: auto;
}
.wrapper__container {
  background-image: linear-gradient(
      rgba(243, 129, 129, 0.9),
      rgba(252, 227, 138, 0.9)
    ),
    url(../img/bg-top-min.png);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 28px;
}
.container {
  width: 1200px;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 165px;
}
.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  line-height: 21px;
  cursor: pointer;
}
.header__nav {
  display: flex;
  flex-basis: 40%;
}
.nav__list {
  display: flex;
  flex-basis: 100%;
  justify-content: space-around;
  align-content: center;
}
.nav__link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  line-height: 21px;
}
.nav__link:hover {
  box-shadow: 0 3px 0 #fce38a;
  transition-duration: 200ms;
  transition-timing-function: linear;
  color: #fce38a;
}
.nav__link--icon{
  fill: #fff;
}
.nav__link--icon:hover{
  box-shadow: 0 3px 0 #fce38a;
  transition-duration: 200ms;
  transition-timing-function: linear;
  fill: #fce38a;
}
.container__caption{
    text-align: center;
}
.caption__upper__text{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    margin-bottom:42px;
    color: #fff;
}
.caption{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 150px;
    color: #fff;
    text-transform: uppercase;
    width: 65%;
    margin: auto;
    margin-bottom: 125px;
}
.header__button{
    width: 160px;
    height: 40px;
    border:3px solid #fff;
    background: transparent;
    margin-bottom: 230px;
}
.header__button--link{
    display: block;
    font-family:"Montserrat", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    line-height: 11px;

}
@media (min-resolution: 192dpi) {
  .wrapper_container {
    background-image: linear-gradient(
        rgba(243, 129, 129, 0.9),
        rgba(252, 227, 138, 0.9)
      ),
      url(../img/bg-top@2x-min.png);
  }
}
