.caption--text{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999999;
    width: 70%;
    margin: auto;
    margin-bottom: 90px;
}
.container__team{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 5.125rem;
}
.team__boxpicture{
    width: 380px;
    height: 470px;
    margin-bottom: 27px;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.team__boxpicture:hover{
    -webkit-transform: translate(-10px,-10px);
        -ms-transform: translate(-10px,-10px);
            transform: translate(-10px,-10px);
    -webkit-box-shadow: 10px 10px #95e1d3;
            box-shadow: 10px 10px #95e1d3;
}
.team__picture{
    position: relative;
    z-index: 1;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.team__background{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 380px;
    height: 470px;
    background-image: -webkit-gradient(
    linear,
    left top, left bottom,
    from(rgba(243, 129, 129, 0.9)),
    to(rgba(252, 227, 138, 0.9)));
    background-image: -webkit-linear-gradient(
    rgba(243, 129, 129, 0.9),
    rgba(252, 227, 138, 0.9));
    background-image: -o-linear-gradient(
    rgba(243, 129, 129, 0.9),
    rgba(252, 227, 138, 0.9));
    background-image: linear-gradient(
    rgba(243, 129, 129, 0.9),
    rgba(252, 227, 138, 0.9));
    display: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.team__boxpicture:hover .team__background {
    display: block;
    cursor: pointer;
}
.team__list__carts{
    width: 380px;
    height: 470px;
    position: relative;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.team__cart{
    width: 56px;
    height: 56px;
    background-color: #FCE38A;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;  
    -webkit-box-pack: center;  
        -ms-flex-pack: center;  
            justify-content: center;  
    margin-right: 1px;
}
.team__person__info{
    text-align: center;
}
.team__icon{
    display: block;
    fill:#f38181;
}
.team__cart:hover .team__icon{
    fill: #fff;
}
.team--name{
    font-family:'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.team--domain{
    font-family:'Roboto', sans-serif;
    font-style: italic;
    font-size: 15px;
    color: #999999;
}