* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
body{
    background-image: radial-gradient(
        circle,
        #1dedff,
        #00c1ff,
        #0091ff,
        #005ced,
        #1a00b9
      );
}
.image-gallery {
  margin: auto;
  padding-top: 10px;
  text-align: center;
  
}
.main-gallery-window {
  height: 38vw;
  background-color: rgb(77, 0, 122);
  padding: 5px;
}
.preview{
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: space-around;
  list-style-type: none;

}
.preview-image{
  width:calc(100vw/7);
}
.preview-image:hover{
  box-shadow: 0px 0px 41px 10px #00db0b;
}
.js-choose-image{
  box-shadow: 0px 0px 41px 10px #ff0000;
}
