@media(min-width:375px){
.mobil__nav {
  display: block;
  width: 100%;
  padding-bottom: 70px;
  background-position:  250px -75px; 
  position: fixed;
  overflow: hidden;
  z-index: 50;
}
.mobil__nav__bg{
  width: 450px;
  position: absolute;
  top: -140px;
  right: -315px;
}
.mobil__nav__bg__white{
  display: none;
}
.mobil__nav__bg__white{
  background-color: #fff;
}

.mobil__nav__header__box{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px 35px;
  padding-bottom:50px; 
}
.mobil__nav__button{
  z-index: 100;
}

/* close menu */
.mobil__nav__close{
  content: "";
  width: 20px;
  height: 0px;
  background-color: #fff;
  position: relative;
  margin-top:10px;
  margin-right: 15px;
}
.mobil__nav__close::before{
  content: "";
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  transform: rotate(-45deg)
}
.mobil__nav__close::after{
  content: "";
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  transform: rotate(45deg)
}
/* open menu */
.mobil__nav__list__close{
  width: 100%;
}

.mobil__nav__open{
  content: "";
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: relative;
  margin-top:10px;
  margin-right: 15px;
}
.mobil__nav__open::before{
  content: "";
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: -5px;
}
.mobil__nav__open::after{
  content: "";
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 5px;
}
.mobil__nav__tach{
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  right: 15px;
  margin-right: 34px;
  z-index: 200;
}
.mobil__nav__logo{
  text-decoration: none;
  font-family: "Bookman Old Style";
  font-size: 22px;
  color: #000000;
}
.mobil__menu{
  display: none;
}
.open{
  display: block;
  background-color: #fff;
  width: 100%;
  position: relative;
  background-attachment: fixed;
}
.mobil__nav__list {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 65px 37px;
  z-index: 10;
}
.mobil__nav__link{
    text-decoration: none;
    color: #000000;
    text-align: left;
    font-family: "Bookman Old Style Regular";
    font-size: 24px;
    margin-bottom: 50px;
}
.mobil__nav__link:last-child{
  margin-bottom: 0px;
}
.mobil__nav__social{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 35px;
  padding-bottom: 35px; 
}
.mobil__nav__social__email{
  font-family: "ProximaNova", sans-serif;
  font-size: 14px;
  color: #000000;
}
}
@media(min-width:768px){
  .mobil__nav{
    display: none;
  }

}
