@media (min-width: 375px) {
  .services {
    background-color: #eeeeee;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.16);
    border-radius: 20px;
    padding: 20px 0px 20px 30px;
  }
  .services_item {
    margin-bottom: 20px;
  }
  .services_item:last-child {
    margin-bottom: 0px;
  }
  .services__title_box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .services__title {
    margin: 0;
  }
  .services__title__dekor {
    width: 68px;
    height: 10px;
  }
  .services_item > a {
    position: relative;
    text-decoration: none;
    font-family: "ProximaNova", sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    color: #292929;
  }
  .services_item > a::after {
    position: absolute;
    content: "";
    background: #fdbd00;
    bottom: -4px;
    left: 0;
    right: 50%;
    width: 0;
    height: 2px;
    transition: 0.4s;
  }
  .services_item > a:hover::after {
    width: 100%;
    left: 0;
    right: 0;
  }
}
@media (min-width: 768px) {
  .services {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 0;
    height: 490px;
  }
  .section__services {
    padding-right: 80px;
  }
  .services__title__dekor {
    width: 138px;
    height: 20px;
  }
  .services_item {
    width: 44%;
    margin-bottom: 50px;
  }
  .services_item:nth-child(6) {
    margin-bottom: 0px;
  }
}
@media (min-width: 1366px) {
  .services {
      padding-top:143px; 
      padding-left: 130px;
      padding-bottom: 45px;
      height: 960px;
  }
  .section__services {
    padding-right: 130px;
  }
  .services__title__dekor {
    width: 15%;
  }
  .services_item > a {
    font-size: 36px;
  }
  .services_item {
    width: 25%;
    height: 80px;
    margin-bottom: 143px;
  }
  .services_item:nth-child(6) {
    margin-bottom: 143px;
  }
  .services_item:nth-child(4n) {
    margin-bottom: 0px;
  }
}
