*{
    margin: 0px;
    padding: 0px;
}
.link{
    float: left;
    background-color: #111111;
    color: #94ff22;
    padding: 20px;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}
.link:hover{
    background-color:#e42342;
    color:#111111;
}
.conteiner1{
    display: inline-block;
    width: 250px;
    height: 250px;
    size: 20px;
    color:#0E1116;
}
.conteiner1:nth-child(3n+1){
    background-color: #88292F;
}
.conteiner1:nth-child(3n+2){
    background-color: #5DB7DE;
}
.conteiner1:nth-child(3n+3){
    background-color: #0D5D56;
}