* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #555252;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.header{
  width: 1110px;
  margin: auto;
  line-height: 32px;
  margin-bottom: 105px;
  padding-top: 38px;
  background-color: #fff;
}
.logo {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  float: left;
}
.logo a {
  text-decoration: none;
  color: #555252;
}
.logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}
.navigation {
  float: right;
  text-align: right;
  padding-top: 5px;
}
.nav-item {
  line-height: 11px;
  list-style: none;
  text-align: right;
  margin-right: 30px;
  float: left;
}
.nav-item a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: #0f0101;
  text-transform: uppercase;
  list-style: none;
  font-size: 14px;
}
.nav-item a:hover {
  cursor: pointer;
  color: #1abc9c;
}
.nav-item:nth-last-child(-n + 1) {
  margin-right: 0px;
}
/* SHOPS */
.gallery{
    width: 1110px;
    margin: auto;
}
.gallery-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  font-size: 48px;
  margin: auto;
}
.gallery-title::after {
  display: block;
  content: "";
  height: 6px;
  width: 164px;
  background-color: #1abc9c;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 92px;
}
.product {
  display: inline-block;
  width: 255px;
  text-align: left;
  list-style: none;
  background-color: #e9f0fd;
  margin-right: 26px;
  margin-bottom: 30px;
  font-size: 0px;
}
.product:nth-child(4n+4){
  margin-right: 0px;
}
.product:nth-child(n+5){
  margin-bottom: 105px;
}
.products {
  text-align: center;
}
.product a,
.price {
  display: inline-block;
  width: 201px;
  height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #fff;
  font-size: 18px;
  line-height: 40px;
}
.product a {
  background-color: #323232;
}

.product a::before {
  content: "";
  margin-right: 14px;
}
.price {
  width: 54px;
  height: 40px;
  background-color: #8c8c8c;
  text-align: center;
}
.shop:hover a {
  background-color: #1abc9c;
}
.product:hover {
  max-width: 270px;
  max-height: 322px;
}
.shop:hover .price {
  background-color: #7fd9c7;
}
.shop {
  cursor: pointer;
}
.price::before {
  content: "\0024";
}
/* BLOG */
.blog{
    margin: auto;
    width: 1110px;
}
.title-blog {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  font-size: 48px;
}
.title-blog::after {
  display: block;
  content: "";
  height: 6px;
  width: 164px;
  background-color: #1abc9c;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 81px;
}
.box-blog {
  margin: 0;
  padding: 0;
  text-align: center;
}
.img-blog {
  margin-bottom: 15px;
}
.blog-article {
  display: inline-block;
  width: 350px;
  margin-right: 15px;
}
.blog-span {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
}

.blog-span::after {
  display: block;
  content: "";
  height: 3px;
  width: 136px;
  background-color: #1abc9c;
  margin-left: 1px;
  margin-bottom: 30px;
  margin-top: 11px;
}
.blog-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 19px;
  text-align: left;
}
.blog-button {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  width: 160px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.button {
  height: 51px;
  width: 159px;
  background-color: #4ec6ab;
  border: 0px;
  float: left;
  border-radius: 5px;
  margin-bottom: 81px;
  text-align: center;
}
