@media (min-width: 375px) {
  .main__box {
    background-image: url(../img/header/header_bg_main@2x.png),
      url(../img/header/header_bg.png);
    background-size: 200%, 50%;
    background-position: -25px -65px, -55px 20px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
  }
  .main__box__title {
    margin-top: 140px;
    margin-bottom: 115px;
    font-family: "Bookman Old Style Regular";
    font-size: 22px;
    color: #292929;
    letter-spacing: 1.5px;
    line-height: 26px;
    position: relative;
    z-index: 200;
  }
}
@media (min-width: 768px) {
  .main__box {
    background-image: url(../img/header/header_bg_down.png),
      url(../img/header/header_bg_main@2x.png),
      url(../img/header/header_bg.png);
    background-size: 80%, 105%, 25%;
    background-position: 300px -300px, -14px -65px, -40px 25px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
  }
  .main__box__title {
    margin-top: 130px;
    margin-bottom: 145px;
    font-family: "Bookman Old Style Regular";
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.5px;
    position: relative;
    z-index: 200;
  }
}
@media (min-width: 1366px) {
  .main__box__title {
    margin-top: 130px;
    margin-bottom: 145px;
    font-family: "Bookman Old Style Regular";
    font-size: 60px;
    line-height: 38px;
    letter-spacing: 0.5px;
    position: relative;
    z-index: 200;
  }
}
