*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (min-width: 20rem) {
  .wrapper-white {
    background-color: #ffffff;
    text-align: center;
    margin: auto;
    max-width: 20rem;
  }
  .white-title{
    font-family: "Montserrat", sans-serif;
    margin: auto;
    font-size: 1.275rem;
    color: #333333;
    font-weight:700;
    margin-bottom: 0.875rem;
  }
  .person-box{
    margin: auto;
  }
  .person{
    margin: auto;
    max-width: 13.586875rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.6875rem;
  }
  .img-item{
    max-width: 7.625rem;
    margin: auto;
    position: relative;
    margin-bottom: 1.25rem;
  }
  .picture{
    position: relative;
  }
  .box-icon{
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.4rem;
    bottom: 0;
    right: 0;
    border: 0.25rem solid #fff;
    border-radius: 50%;
  }
  .tele{
    background-color: #FF4E50;
  }
  .chemist{
    background-color: #FFA507;
  }
  .coffe{
    background-color: #1CD7AD;
  }
  .letter{
    background-color: #4E73DB;
  }
  .person-name {
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    color: #333333;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .person-info {
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    color: #666666;
    font-weight: 300;
  }
  .button-main{
    background: #fff;
    border: 0.125rem solid #ff4e50;
    border-radius: 2.5rem;
    line-height: 2.25rem;
    margin: auto;
    margin-bottom: 3.541875rem;
    cursor: pointer;
  }
  .button-main:hover{
    background: #ff4e50;
    border: 0.125rem solid transparent;
  }
  .button-main-text{
    display: block;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #ff4e50;
    font-size: 0.875rem;
    padding: 0 4.6875rem;
  }
  .button-main-text:hover{
    color: #ffffff;
  }
} 
@media(min-width:48rem){
  .wrapper-white{
    max-width: 48rem;;
  }
  .white-title{
    margin-bottom: 1.875rem;
  }
  .box-person{
    width: 61.2%;
    height: 31.05rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 2.5rem;
    font-size: 0;
  }
  .person{
    margin: 0;
    margin-bottom: 3.5rem;
  }
  .person:nth-child(even){
    margin-bottom: 0;
  }
  .img-item{
    margin-top: 0;
  }
  .button-main-text{
    padding: 0 1.875rem;
  }
}
@media(min-width:90rem){
  .wrapper-white{
    max-width: 90rem;
  }
  .box-person{
    height: 14.625rem;
  }
}