* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

@media (min-width: 320px) {
  .blog {
    padding-top: 110px;
    margin-bottom: 80px; }
    .blog__article {
      padding: 0px 37px;
      margin-bottom: 30px; }
      .blog__article:last-child {
        margin-bottom: 60px; }
      .blog__article__title {
        font-family: "ProximaNova SemiBold", sans-serif;
        font-size: 18px;
        color: #292929;
        line-height: 22px; }
        .blog__article__title:hover {
          text-decoration: underline; }
      .blog__article__text {
        margin-top: 10px;
        color: #707070;
        font-family: "ProximaNova Regular", sans-serif;
        font-size: 16px;
        line-height: 18px; } }

@media (min-width: 768px) {
  .blog__article {
    padding: 0px 80px;
    margin-bottom: 40px; }
    .blog__article__title {
      font-size: 24px;
      line-height: 30px; }
    .blog__article__text {
      margin-top: 20px;
      line-height: 20px; } }

@media (min-width: 1366px) {
  .blog {
    padding-top: 180px; }
    .blog__article {
      padding: 0px 200px; }
      .blog__article__title {
        font-size: 28px; }
      .blog__article__text {
        font-size: 20px; } }
