.wrapper{
    width: 940px;
    margin: auto;
    background-color: #fff;
    padding-bottom: 120px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-top: 44px;
    margin-bottom: 120px;
}
.logo{
    font-family: 'Allura', sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 28px;
    font-weight:  bold;
    color: #FED136;
    cursor: pointer;
}
.navigation{
    display: flex;
    flex-basis: 50%;
}
.site-nav{
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
}
.site-item{
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    font-family:'Montserrat',sans-serif;
    font-weight: 800;
    line-height: 28px;
}
.site-item:hover{
    color:#FED136;
    cursor: pointer;
}
