*{

    font-family: 'Playfair Display', serif;
}
.header :hover{
    color: blue;
   
}
.header1{
    list-style-type: none;
    display: inline-block;
}
.header2{
    list-style-type: none;
    display: inline-block;
}
.header3{
    list-style-type: none;
    display: inline-block;
}
.header4{
    list-style-type: none;
    display: inline-block;
}   
.content{
    margin: auto;
    background: white;
}
.content1{
    margin-bottom: 60px;


}
.box1{
    margin: 90px;
    width: 420px;
    height: 610px;
    display: inline-block
}
.box2{
    margin: 90px;
    width: 420px;
    height: 610px;
    display: inline-block
}
.box3{
    margin: 90px;
    width: 420px;
    height: 610px;
    display: inline-block
}
.box4{
    margin: 90px;
    width: 420px;
    height: 610px;
    display: inline-block
}
.box5{
    margin: 90px;
    width: 420px;
    height: 610px;
    display: inline-block
}
.box6{
    margin: 90px;
    width: 420px;
    height: 610px;
    display: inline-block
}